@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

/* shared stylels */
.Merriweather-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.inter-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* /banner section styles */
.banner {
  width: 100%;
  max-width: 1320px;
  height: 600px;
  margin: 20px auto;
  margin-bottom: 100px;
}

.banner img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.banner-content {
  position: absolute;
  top: 0px;
  left: 0;
  width: 632px;
  text-align: center;
  color: rgb(255, 255, 255, 1);
  margin: 177px 344px;
}

.banner-content p {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 16px;
  opacity: 100%;
  line-height: auto;
  letter-spacing: 0%;
}

.banner-content h1 {
  font-size: 50px;
  line-height: 95px;
  letter-spacing: 0%;
  font-weight: bold;
  font-size: 4.5rem;
  opacity: 100%;
}

/* discount section styles */
.discount {
  max-width: 803px;
  height: 806px;
  margin: 20px 259px;
}

.discount-container {
  text-align: center;
}

.discount-title {
  font-weight: bold;
  font-size: 5.5rem;
  color: rgba(255, 0, 0, 1);
  margin-bottom: 48px;
  opacity: 100%;
}

.discount-descrip {
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(255, 0, 0, 1);
  margin-bottom: 16px;
}

.discount-sub-descrip {
  font-weight: bold;
  font-size: 3rem;
  color: rgba(7, 2, 17, 1);
  margin-bottom: 48px;
}

.discount-container img {
  width: 100%;
}

/* welcome party section */
.welcome-party{
    max-width: 1320px;
    height: 500px;
    margin: 20px auto;
    /* position: relative; */
    /* overflow: hidden; */
    border-radius: 16px;
    background-image:url(../images/Vectorrr.png);
    background-size: cover;
    background-position: center;
}
.welcome-container{
    display: flex;
    justify-content: center;
}

 .content h2 {
  font-weight: 700px;
  font-size: 4rem;
  color: rgba(255, 255, 255, 1);
  width: 642px;
  margin: 123px 94px 24px 120px;
}
.content p {
  font-size: 1.2rem;
  width: 697px;
  color: rgba(255, 255, 255, 0.8);
  margin: 24px 34px 32px 120px;
}
.btn {
  font-weight: bold;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 1);
  margin: 48px 596px 142px 152px;
  cursor: pointer;
  text-decoration: none;
}
.year img {
  width: 300px;
  height: 400px;
  margin: 60px 133px 65px 30px;
}